@import '@/assets/all.scss';

.button {
    height: 68px;
    width: auto;

    padding: 0px 24px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    white-space: nowrap;

    overflow: hidden;
    background-color: $black-color;
    color: $white-color;
    border-radius: 15px;


    @include transition(500ms);

    @include mouse-hover {
        filter: brightness(0.85);
    }

    @media (hover: hover) {
        &:active {
            transform: scale(0.9);
        }
    }
}
