@import '@/assets/all.scss';

$border-color-1: #2E37774D;

.button {
    height: 56px;
    width: auto;

    padding: 0px 24px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;

    overflow: hidden;
    @include transition(500ms);

    @media (hover: hover) {
        &:active {
            transform: scale(0.975);
        }
    }

    &.checkboxButton {
        &:active {
            transform: none;
        }
    }

    &:disabled {
        color: $white-color;
        background-color: $grey-color;
        pointer-events: none;
    }
}

.white {
    background-color: $grey-color;
    border: 1px solid $grey-color;
    color: $black-color;

    filter: brightness(1.2);

    @include mouse-hover {
        filter: brightness(1.6);
    }

    &.hoverTransparencyStyle {
        @include mouse-hover {
            background-color: transparent;
            color: $white-color;
        }
    }
}



@media #{$desktop} {
    .button {
        height: 64px;
        padding: 0px 40px;
    }
}
