// basic colors

$black-color: #272727;
$white-color: #D9D9D9;
$grey-color: #8f8f8f;
$blue-color: #14b2ce;

:export {
    black-color: $black-color;
    white-color: $white-color;
    grey-color: $grey-color;
}
